/* General Styles */
body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #f5f5f5; /* Set the body background color */
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 100%;
  overflow: hidden; /* Ensure the container wraps around floated elements */
  padding: 20px; /* Adjust padding as needed */
  background-color: #fff; /* Set the background color of the container */
}

.col {
  float: left;
  width: 30%; /* Adjust width as needed to fit all boxes in one row */
  margin: 10px; /* Adjust margin as needed */
  background-color: lightgrey; /* Adjust background color as needed */
  padding: 20px; /* Adjust padding as needed */
  text-align: center; /* Centers text inside the box */
  border: 1px solid #FFD204; /* Adjust border as needed */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-12 {
    width: 100%;
  }
}
