/* Base styles */
* {
  box-sizing: border-box;
}

body {
  /*background-color: white;*/
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #00529B;
  font-size: 4em;
  font-family: "Tangerine", cursive;
  text-shadow: 2px 2px 5px gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Section styling */
section {
  background-color: #00529B;
  color: #FFD204;
  border: 1px solid black;
  margin: 10px;
  position: relative;
  padding: 10px;
  width: 50%;
  float: left;
  box-sizing: border-box;
}
div > section > p {
  margin-top: 40px; /* Add margin to the paragraph to push it away from the title box */
  padding: 10px;
}

.section-title1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFD204;
  color: #00529B;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
}

.section-title2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: gray;
  color: black;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
}

.section-title3 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: purple;
  color: white;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
}

/* Clearfix */
.row::after {
  content: "";
  display: center;
  clear: none;
}

/* Responsive layout */
/* Desktop view */
@media (min-width: 992px) {
  .section {
    width: calc(100% / 3);
    float: left;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .section {
    width: calc(100% / 2);
    float: left;
  }
}

/* Mobile view */
@media (max-width: 767px) {
  .section {
    width: 100%;
  }
}