/* styles.css */

/* General Styles */
body {
  font-family: "Red Hat Display", sans-serif; /* Keep your font settings */
  margin: 0;
  padding: 0;
}

header {
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 1em;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* Align paragraphs to the left */
}

.mt-5 {
  margin-top: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: ; /* Your container background color */
}

.p-3 {
  padding: 1rem !important;
}

.box {
  border: 3px solid #ffD204; /* Border for each box */
  border-radius: 0.25rem;
  background-color: #00529B; /* Background color for the boxes */
}

.box h2, .box h3 {
  text-align: center; /* Center the titles */
}

.box p {
  color: #ffD204;
  text-align: left; /* Align paragraphs to the left */
  margin: 0.5rem 0; /* Add some margin for better readability */
  line-height: 1.6; /* Improve readability with line height */
}

/* Mobile Styles */
@media (max-width: 768px) {
  section {
      padding: 1em;
  }

  article {
      margin-bottom: 2em;
  }
}
