/* styles.css */

/* General Styles */
body {
  font-family: "Red Hat Display", sans-serif; /* Keep your font settings */
  margin: 0;
  padding: 0;
}

header {
  padding: 1em;
  text-align: center;
}

/* Navigation Styles */
nav {
  display: flex;
  background-color: gray; 
  font-size: medium;
  color:black;
  justify-content: space-between;
  align-items: center;
}

/* Style for the navbar-brand to make the text larger */
.navbar-brand {
  font-size: 2rem; /* Adjust the font size as needed */
}

/* Centering menu items in the navbar */
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  text-align: center;
  width: 100%; /* Ensure each item takes full width */
}

/* For expanded hamburger menu */
.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Styles */
main {
  padding: 1em;
  text-align: center;
}

section {
  max-width: 100%;
  margin: 0 auto;
  text-align: left; /* Align paragraphs to the left */
}

.mt-5 {
  margin-top: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

/* Ensure container and row are full width */
.container, .row {
  width: 100%;
  box-sizing: border-box;
}

/* Ensure columns take full width */
.col {
  flex: 1;
  margin: -15px;
  padding: 15px; /* This should match the negative margin on the row */
  box-sizing: border-box;
}

.p-3 {
  padding: 1rem !important;
}

.box {
  flex: 1;
  padding: 5px; /* Adjust the padding as needed */
  box-sizing: border-box; 
  border: 5px solid #ffD204; /* Corrected syntax */
  background-color: #00529B;
  color: #ffD204; /* Adjust the width based on your margin and padding */
  width: 100%; /* Ensures the box width is adjusted for padding */
}

h4 {
  text-align: center; /* Center the titles */
}

/* h2 Styling */
h2 {
  text-align: center;
  color: #00529B;
  font-size: 5em;
  text-shadow: 2px 2px 5px gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Box paragraph style*/
.box p {
  color: #ffD204;
  text-align: left; /* Align paragraphs to the left */
  margin: 0.5rem 0; /* Add some margin for better readability */
  line-height: 1.6; /* Improve readability with line height */
}

/* Ensure the boxes are responsive */
/* Essential for smaller screens */
@media (min-width: 576px) {
  .box-xs{
    width: calc(100% - 40px); /* Adjust for smaller screens, if needed */
  }
}

/* Essential for tablets and larger screens */
@media (min-width: 768px) {
  .box-sm{
    width: calc(100% - 80px); /* Adjust for larger screens, if needed */
  }
}

/* Essential for desktop and laptop screens */
@media (min-width: 992px) {
  .box-md {
    width: calc(100% - 120px); /* Adjust for even larger screens, if needed */
  }
}
