@import "bootstrap";
  
/*Navigation bar formatting*/
.navbar {
  background-color: gray;
  color: #000000;
  
}

.top-nav {
    background-color: rgba($color: #461D7C, $alpha: 1.0);
    color: rgba(253, 208, 35, 1.0);
    border-bottom-color: rgb(249, 233, 171);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 105px;
    //padding-top: 5px;
    font-family: 'Red Hat Display', sans-serif;
    //padding-left: 14px;
    //text-align: center;
}

.top-nav .add a {
    font-weight: bold;
    font-size: 16px;
    padding-left: 8px;
    //text-align: center;
}

.top-nav .add {
  margin-top: 40px;
}


/* unvisited link */
.top-nav a:link {
  color: rgb(199, 198, 198);
}

/* visited link */
.top-nav a:visited {
  color: rgb(8, 191, 8);
} 

/* mouse over link */
.top-nav a:hover {
  color: rgb(108, 95, 249);
}

/* selected link */
.top-nav a:active {
  color: rgb(35, 5, 230);
}

/*Body formatting*/

body {
  background-color: white;
  font-family: "Red Hat Display", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}
 
/* unvisited link */
a:link {
  color: rgb(11, 6, 116);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(70, 3, 37);
}

/* selected link */
a:active {
  color: rgb(9, 125, 9);
}

.navbar-brand {
  font-family: "Red Hat Display", sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: black;
  text-align: left;

}

h1{
  text-align: center;
  color: #00529B;
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  color: #00529B;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  color: #00529B; 
  text-align: center;
}

h4{
  color:  #461D7C;
  font-style: bold;
  font-size: 26px;
}

.box{
  background-color: #00529B;
  box-shadow: 0 1px 0 black);
  border: 3px #FFD204;
  border-style: solid;
  margin: 40px;
  padding: 0;
  color: white;
}

.box p, .box .message {
  font-size: 25px;
  margin: 20px;
}

.card.form {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}

.handle {
  margin: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

label {
  color: #000000;
  font-size: 26px;
  font-weight: bold;
}
 
input {
  font-size: 18px;
  font-weight: bold;
}

.my-btn {
  background-color: #461D7C;
  width: 100%;
  border: solid;
  border-width: thin;
  border-color: #FDD023;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 18px;
  margin-right:  20px;
  margin-left:20px;
  float: left;
}

.card.form {
  padding: 20px;
}

.comments {
  padding: 20px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.comment{
  font-size: 16px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    padding-right: var(--navbar-nav-link-padding-x);
    padding-left: var(--navbar-nav-link-padding-x);
  }

  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  }

  .top-nav {
    height: 105px;
  }

  .brand {
    padding-left: 38px;
  }

  .card {
    margin-top: 40px;
  }

  /* Add more specific styles for tablet view here */
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-right: var(--navbar-nav-link-padding-x);
    padding-left: var(--navbar-nav-link-padding-x);
  }

  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-collapse {
    display:
