@import "bootstrap";

h2 {
    text-align: center;
    color: #00529B;
    font-size: 4em;
    font-family: "Tangerine", cursive;
    text-shadow: 2px 2px 5px gray;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
//Navigation bar formatting
.top-nav {
    background-color: rgba($color: #461D7C, $alpha: 1.0);
    color: rgba(253, 208, 35, 1.0);
    border-bottom-color: rgb(249, 233, 171);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 105px;
    //padding-top: 5px;
    font-family: 'Red Hat Display', sans-serif;
    //padding-left: 14px;
    //text-align: center;
}

.top-nav .add a {
    font-weight: bold;
    font-size: 16px;
    padding-left: 8px;
    //text-align: center;
}

.top-nav .add {
  margin-top: 40px;
}

.brand {
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: 'Clicker Script', cursive;
    text-shadow: 1px 2px rgba(253, 208, 35, 1.0);
    //padding-left: 38px;
  }

/* unvisited link */
.top-nav a:link {
  color: rgb(199, 198, 198);
}

/* visited link */
.top-nav a:visited {
  color: rgb(8, 191, 8);
} 

/* mouse over link */
.top-nav a:hover {
  color: rgb(108, 95, 249);
}

/* selected link */
.top-nav a:active {
  color: rgb(35, 5, 230);
}

//Body formatting
body {
  background: image-url("dark-brick-background.jpg") ;
  background-size: auto;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  color: rgb(33, 4, 91)
}
 
/* unvisited link */
a:link {
  color: rgb(11, 6, 116);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(70, 3, 37);
}

/* selected link */
a:active {
  color: rgb(9, 125, 9);
}


  h1 {
    color: #461D7C; 
    text-shadow: 2px 2px #FDD023;
    font-style: bold;
    font-size: 50px;
    padding: 5px;
  }

  h2 {
    color: rgb(199, 196, 196); 
    text-shadow: 2px 2px black;
    font-style: bold;
    font-size: 40px;
  }

  h3 {
    color: #FDD023; 
    text-shadow: 2px 2px #461D7C;
    font-style: bold;
    font-size: 30px;
  }

  h4{
    color:  #461D7C;
    //text-shadow: 1px 2px #FDD023;
    font-style: bold;
    font-size: 26px;
  }

.card {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #bbbbbb;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 25px;
  margin: 20px;
}

.card.form {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}

.handle {
  margin: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

label {
  color: #000000;
  font-size: 26px;
  font-weight: bold;
}
 
input {
  font-size: 18px;
  font-weight: bold;
}

.my-btn {
  background-color: #461D7C;
  width: 100%;
  border: solid;
  border-width: thin;
  border-color: #FDD023;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 18px;
  margin-right:  20px;
  margin-left:20px;
  float: left;
}

.card.form {
  padding: 20px;
}

.comments {
  padding: 20px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.comment{
  font-size: 16px;
  margin-top: 5px;
}<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
<h1></h1>
 <% @grams.each do |gram| %>
   <div class="card">
     <div class="handle"><%= gram.user.email %></div>
     <%= image_tag gram.photos.to_s, class: 'img-fluid' %>
     <p>
       <%= gram.message %>
     </p>

     <div class="gram-actions float-right">
       <% if current_user && current_user == gram.user %>
         <%= link_to 'Edit', edit_gram_path(gram) %>
         <%= link_to 'Destroy', gram_path(gram), method: :delete, data: {confirm: 'Are you sure?'} %>
       <% end %>
     </div>
     <br class="clear-fix" />
     <div class="comments">
       <h3>Comments</h3>
       <% gram.comments.each do |comment| %>
         <div class="comment">
           <span class="comment_handle">
             <%= comment.user.email %>
           </span>

           <%= comment.message %>
         </div>
       <% end %>
       <h4>Add a comment</h4>
       <%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
         <%= f.input :message %>
         <%= f.submit 'Add Comment', class: 'my-btn' %>
       <% end %>
     </div>
   </div>
 <% end %>
</div>